<div class="row center-xs">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-4">
        <a href="https://github.com/catkhuu/Emote365"><img class="footer_icon" src="/github_icon.png" alt="github icon"/> GitHub</a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/catkhuu">Catherine Khuu</a>
      </div>
      <div class="col-xs-4">
        <a href="https://github.com/levytsroman">Roman Levytskyy</a>
      </div>
      </div>
  </div>
</div>
<div class="row center-xs" id="legal">
  <div class="col-xs-12">
    <span>&copy; 2017 Bobolinks&trade;. All Rights Reserved. </span>
  </div>
</div>
